<%= stylesheet_link_tag "style" %>
<h1>List of Service Providers</h1> 

<div class = "nav_bar">
<p> 
	<%= link_to 'New Provider', new_provider_path, :"data-no-turbolink" => true %> 
</p>
<p>
	<%= link_to 'Back to Admin Interface', root_path %>
</p>

</div>

<table> 
	<tr> 
		<th><%= link_to "Name", :sort => "name" %></th> 
		<th><%= link_to "Organization", :sort => "organization" %></th> 
		<th><%= link_to "City", :sort => "city" %></th> 
		<th><%= link_to "State", :sort => "state" %></th> 

	</tr> 
	
	<% @providers.each do |provider| %> 
		<tr> 
			<td><%= provider.name %></td> 
			<td><%= provider.organization %></td> 
			<td><%= provider.city %></td> 
			<td><%= provider.state %></td> 
			<td><%= link_to 'Show', provider_path(provider) %></td>
			<td><%= link_to 'Edit', edit_provider_path(provider), :"data-no-turbolink" => true %> </td> 
			<td><%= link_to 'Destroy', provider_path(provider), 
					method: :delete, 
					data: { confirm: 'Are you sure?' } %></td> 
		</tr> 
	<% end %> 
</table> 

