<%= render 'shared/admin_nav' %> 

<div id="main-container" class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
		  <%= render 'shared/admin_side' %> 
		 
        </div>
	<div id="main-content" class="col-xs-9">
	  <!--  main content -->
<h1>List of Service Providers</h1> 


<%= link_to  new_provider_path, class: 'btn btn-default' do %> 
		 <i class="glyphicon-small glyphicon-plus">  </i>New Service Provider 
	<%end%> 
</br></br>
	<table class="table table-hover"> 
	<tr> 
		<th><%= link_to "Name", :sort => "name" %></th> 
		<th><%= link_to "Organization", :sort => "organization" %></th> 
		<th><%= link_to "City", :sort => "city" %></th> 
		<th><%= link_to "State", :sort => "state" %></th> 
		<th></th> 
		<th></th>
		<th></th>
	</tr> 
	
	<% @providers.each do |provider| %> 
		<tr> 
			<td><%= provider.name %></td> 
			<td><%= provider.organization %></td> 
			<td><%= provider.city %></td> 
			<td><%= provider.state %></td> 
			<td><%= link_to 'Details', provider_path(provider) %></td>
			<td><%= link_to 'Edit', edit_provider_path(provider), :"data-no-turbolink" => true %> </td> 
			<td><%= link_to 'Delete', provider_path(provider), 
					method: :delete, 
					data: { confirm: 'Are you sure?' } %></td> 
		</tr> 
	<% end %> 
</table> 

			
		</div>
	</div> 
</div>