<%= stylesheet_link_tag "style" %>
<p> 
	<strong>Name:</strong> 
	<%= @provider.name %> 
</p> 
<p> 
	<strong>Organization:</strong> 
	<%= @provider.organization %> 
</p> 
<p> 
	<strong>Address: </strong>
	<%if @provider.state == "Online" %>
		<%= @provider.state %>
	<% else %> 		
		<%= @provider.address1 %>
		<%= @provider.address2 %> <br/>
		<%= @provider.city %>
		<%= @provider.state %>, 
		<%= @provider.zip %> <br/>
	<% end %>

	
</p> 
<p> 
	<strong>Website:</strong> 
	<%= @provider.website %> 
</p> 

<p> 
	<strong>Contact Name:</strong> 
	<%= @provider.contact %> 
</p> 


<p> 
	<strong>Phone Number:</strong> 
	<%= @provider.phone %> 
</p> 

<p> 
		<strong>Associated Services:</strong> 
	<% for service in Service.all %> 
		<ul>
			<div>
				<% if service.provider_id == @provider.id %>
					<li>
						<%= service.title %>
					</li>
				<% end %>
			</div>
		</ul>
	<% end %> 
</p>
</p> 

<%= link_to 'Back to List', providers_path %>
