<%= render 'shared/admin_nav' %> 

<div id="main-container" class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
		  <%= render 'shared/admin_side' %> 
		 
        </div>
	<div id="main-content" class="col-xs-9">
	  <!--  main content -->
			
<h1>List of Services</h1> 

<%= link_to  new_service_path, class: 'btn btn-default' do %> 
		 <i class="glyphicon-small glyphicon-plus">  </i>New Service
	<%end%> 
</br></br>
<table class="table table-hover"> 
	<tr> 
		<th><%= link_to "Title", :sort => "title" %></th> 
		<th><%= link_to "Service Provider", :sort => "providers.name" %></th>
		<th><%= link_to "Description", :sort => "description" %></th> 
		<th><%= link_to "Comments", :sort => "comments" %> </th> 
		<th><%= link_to "Referrals", :sort => "refcount" %> </th> 
		<th></th> 
		<th></th>
		<th></th>
	</tr> 

	<% @services.each do |service| %> 
		<tr> 
			<td><%= service.title %></td> 
			<td><%= service.provider.name %>
			<td><%= service.description %></td> 
			<td><%= service.comments.count %></td>
			<td><%= service.refcount %></td> 
			
			
			<td><%= link_to 'Show', service_path(service) %></td>
			<td><%= link_to 'Edit', edit_service_path(service) %> </td> 
			<td><%= link_to 'Destroy', service_path(service), 
					method: :delete, 
					data: { confirm: 'Are you sure?' } %></td> 
		</tr> 
	<% end %> 
</table> 

