<%= stylesheet_link_tag "style" %>

<div class = "nav_bar">
<%= link_to 'Back to List', services_path %>
</div> 

<p> 
	<strong>Name:</strong> 
	<%= @service.title %> 
</p> 
<p> 
	<strong>Description:</strong> 
	<%= @service.description %> 
</p> 


<p> <strong>Provider: </strong> 
	<%= @service.provider.name %>
</p>

<p> <strong>Categories: </strong> 
<ul> 
	<% for cat in @service.categories %>
		<li><%= cat.name %> </li>
	<% end %>
</ul> 
</p>
