<%= stylesheet_link_tag "style" %>

<div class = "nav_bar">
<%= link_to 'Back to List', services_path %>
</div> 

<p> 
	<strong>Name:</strong> 
	<%= @service.title %> 
</p> 
<p> 
	<strong>Description:</strong> 
	<%= @service.description %> 
</p> 


<p> <strong>Provider: </strong> 
	<%= @service.provider.name %>
</p>

<p> <strong>Categories: </strong> 
<ul> 
	<% for cat in @service.categories %>
		<li><%= cat.name %> </li>
	<% end %>
</ul> 
</p>

<% @service.comments.each do |comment| %> 
	<fieldset class = 'comments'>
<p> 
	<strong>Comment:</strong> 
	<%= comment.body %> 
	
</p>
<p> 
Commenter:
	<%= comment.commenter %> 
</p> 

	<%= link_to 'Delete Comment', [comment.service, comment], 
				method: :delete, 
				data: { confirm: 'Are you sure?' } %>
</fieldset>
</br> 
<% end %>

