<%= form_for [:admin, @service] do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "control-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :provider, class: "control-label" %>
    <%= f.select :provider_id,
      options_from_collection_for_select(Provider.all, :id, :name, {:selected => @service.provider_id}),
      {:include_blank => true}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :categories, class: "control-label" %>
    <%= f.select :category_ids,
      options_from_collection_for_select(Category.all, :id, :name, {:selected => @service.category_ids}),
      {}, {multiple: true, class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-default" %>
    <%= link_to "Cancel", admin_services_path %>
  </div>
<% end %>

