<%= form_for(browse_servprovider_path) do |f| %> 
#HIDDEN FORM FIELDS
<p> 
	<%= f.hidden_field :concern, :value => @concern%>
	<%= f.hidden_field :category, :value => @category%>
	<%= f.hidden_field :service, :value => @service %>
	<%= f.hidden_field :provider, :value => @provider%>
	<%= f.label :commenter %> </br> 
	<%= f.text_field :commenter %> 
</p> 

<p> 
	<%= f.label :body %> </br> 
	<%= f.text_area :body %> 
</p> 

<p> 
	<%= f.submit %> 
</p> 
<% end %> 

