<%= form_for [:admin, @provider] do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :organization, class: "control-label" %>
    <%= f.text_field :organization, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone, class: "control-label" %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :website, class: "control-label" %>
    <%= f.text_field :website, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :contact, class: "control-label" %>
    <%= f.text_field :contact, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address1, class: "control-label" %>
    <%= f.text_field :address1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address2, class: "control-label" %>
    <%= f.text_field :address2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city, class: "control-label" %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :state, class: "control-label" %>
    <%= f.text_field :state, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :zip, class: "control-label" %>
    <%= f.number_field :zip, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-default" %>
    <%= link_to "Cancel", admin_providers_path %>
  </div>
<% end %>

