<nav class="navbar navbar-default">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to root_path, :class => "navbar-brand" do %>
      <%= image_tag "icon.svg", :alt => "CareLibrary" %>
    <% end %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <div class="nav navbar-nav navbar-form">
      <div class="form-group">
        <%= form_tag '/browse/search', :method => 'get' do %>
          <%= text_field_tag :search, nil, :class => 'form-control', :placeholder => "Search CareLibrary" %>
        <% end %>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Admin Interface', concerns_path %></li>
      <li><%= link_to 'Make a Request', new_request_path %></li>
      <li><%= link_to 'User Guide', browse_userguide_path %></li>
    </ul>

  </div>
</div>
</nav>
