<%= stylesheet_link_tag "style" %>
<body>
<h1>Palliative Care Resource Database </h1> 
<h2>Admin Interface</h2> 
<p> 
	<%= link_to 'Area of Concern List', controller: 'concerns' %> 
</p>
<p>
	<%= link_to 'Add New Area of Concern', new_concern_path %> 
</p>

<p> 
	<%= link_to 'Category List', controller: 'categories' %> 
</p>
<p>
	<%= link_to 'Add New Category', new_category_path %> 
</p>
</body>