<%= render 'shared/admin_nav' %> 

<div id="main-container" class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
		  <%= render 'shared/admin_side' %> 
		 
        </div>
	<div id="main-content" class="col-xs-9">
	  <!--  main content -->
<h1>List of Resolved Requests</h1> 

<table class="table table-hover"> 
	<tr> 

		<th><%= link_to "Title", :sort => "title" %></th> 
		<th><%= link_to "Type", :sort => "req_type" %></th> 
		<th><%= link_to "Submitter", :sort => "user" %></th> 
		<th><%= link_to "Date", :sort => "datetime" %></th> 
		<th></th>
	</tr> 
	
	<% @requests.each do |request| %> 
		<tr> 
			<td><%= request.title %></td> 
			<td><%= request.req_type %></td> 
			<td><%= request.user %></td> 
			<td><%= request.created_at.strftime('%m/%d/%Y') %></td> 
			
		
		</tr> 
	<% end %> 
</table> 

	</div>
	</div> 
</div>