<%= render 'shared/admin_nav' %> 

<div id="main-container" class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
		  <%= render 'shared/admin_side' %> 
		 
        </div>
	<div id="main-content" class="col-xs-9">
	  <!--  main content -->
<h1>View Request</h1> 


<p> 
	<strong>Title:</strong> 
	<%= @request.title %> 
</p> 

<p>
	<strong>Date Created:</strong> 
	<%= @request.created_at.strftime('%m/%d/%Y') %> 
</p>

<% if @request.user %> 
	<p> 
		<strong>Created By:</strong> 
		<%= @request.user %> 
		<% if @request.email %> 
			- 	<%= @request.email%> 	
		<% end %>
	</p> 
<% end %>

<p> 
	<strong>Type:</strong> 
	<%= @request.req_type %> 
</p> 

<p> 
	<strong>Parent:</strong> 
	<%= @request.parent_type %> 
	<% if @request.parent_name %> 
	- 	<%= @request.parent_name%> 	
	<% end %>
</p> 

<p> 
	<%= @request.body %>
</p>
<%= form_for @request do |f| %>
	
	
	<p>
	<%= f.label :resolved, "Request Resolved?" %>
	<%= f.select :resolved, options_for_select(['false', 'true']) %>
	</p>
	
	<p> 
	<%= f.label :note, "Notes:" %><br/>
	<%= f.text_area :note,  :size => "50x8"%> 
	</p> 
	
	<%= f.submit%>
	
	<% end %>

	</div>
	</div> 
</div>