<%= stylesheet_link_tag "style" %>
<h1>List of Pending Requests</h1> 
<div class = "nav_bar"> 
<p> 

</p>
<p>
	<%= link_to 'Back to Admin Interface', root_path %> <br/>
	<%= link_to 'View Closed Requests', requests_closed_path %>
</p>

</div>
<table> 
	<tr> 

		<th><%= link_to "Title", :sort => "title" %></th> 
		<th><%= link_to "Type", :sort => "req_type" %></th> 
		<th><%= link_to "Submitter", :sort => "user" %></th> 
		<th><%= link_to "Date", :sort => "datetime" %></th> 
	</tr> 
	
	<% @requests.each do |request| %> 
		<tr> 
			<td><%= request.title %></td> 
			<td><%= request.req_type %></td> 
			<td><%= request.user %></td> 
			<td><%= request.created_at.strftime('%m/%d/%Y') %></td> 
			
			<td><%= link_to 'Details', edit_request_path(request) %></td>
						<td><%= link_to 'Destroy (Beta ONLY)', request_path(request), 
					method: :delete, 
					data: { confirm: 'Are you sure?' } %></td> 
		</tr> 
	<% end %> 
</table> 

