
	<%= form_for @concern do |f| %> 

		<% if @concern.errors.any? %> 
			<div id="error_explanation">
				<h2> 
					<%= pluralize(@concern.errors.count, "error") %> prohibited this item from being saved: 
				</h2> 
				<ul> 
					<% @concern.errors.full_messages.each do |msg| %> 
						<li> <%= msg %> </li> 
					<% end %> 
				</ul> 
			</div> 
		<%end%> 
		<div class="col-xs-5">
		<p> 
			<%= f.label :name %><br> 
			<%= f.text_field :name, :size => "50"  %> 
		</p> 
		
		<p> 
			<%= f.label :description %><br> 
			<%= f.text_area :description, :size => "50"  %> 
		</p> 
		
		<p> 
	
			<%= f.label :diagnosis %><br> 
			<%= f.select :diagnosis, [['True', true], ['False', false]]  %>

		</p> 
		<br/>
		<%= f.submit 'Submit', :class => 'btn btn-default' %>
		</div>
		
		<div class="col-xs-6">
		<p> 
		<label>Associated Categories</label>
		<div class="height_limit">
		
			<%= hidden_field_tag "concern[category_ids][]", nil %>
			<% Category.all.sort_by{|category| category.name}.each do |category| %> 	
				<%= check_box_tag "concern[category_ids][]", category.id, 
				@concern.categories.include?(category), id: dom_id(category) %>
				<%= label_tag dom_id(category), category.name %></br>
		
		<% end %> 
		</div>
	</p>
	
	</div>
		
	
	<% end %> 
	
