<%= render 'shared/admin_nav' %> 

<div id="sidebar" class="col-xs-4">
          <!-- sidebar content -->
		  <%= render 'shared/adminguide_side' %> 
		 
        </div>

<h1>Palliative Care Admin Interface User Guide </h1>	
<div class="container">
  <div class="row">

	<div class="col-xs-8" >
<a name = "section1">
<h2>Database Structure </h2>
</a>
<a name = "section2">
<h3>Index View</h3> 
</a>
Each resource may be viewed as a list, by selecting [Resource] List from the drop down menus on the left side navigation menu. 
<br/><br/>
<%= image_tag("SS1.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
Each list provides some information about each resource, such as Name, Description, etc. Where these titles are blue, clicking on the title will order the resources by that field. For example, clicking on the word “Name” will cause the resources to be ordered alphabetically by name. 
<br/><br/>
At the top of each list is a button to add a new resource. 
<br/><br/>
<%= image_tag("SS2.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section3">
<h3>Categories and Concerns</h3>  
</a>
Categories and Concerns both show the resource’s Name and Description on the Index page. Concerns also show whether the Concern is a diagnosis. 
<br/><br/>
On the right side of each Category and Concern in the list are several links that allow administrators to manage these resources.
<br/><br/>
Details shows all the information about the specific resource including any associated Concerns, Categories or Services. 
<br/><br/>
<%= image_tag("SS3.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section4">
<h3>Services </h3> 
</a>
Services have some additional fields in the Index view. 
<br/><br/>
Services include the name of the Service Provider, as well as the Service Title and Description. 
<br/><br/>
Services also list the number of Referrals that that Service has received (measured by users clicking the Make Referral button) and the number of Comments associated with each Service. For more information on Referrals see Referrals. 
<br/><br/>
<%= image_tag("SS4.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
To view the Comments for a specific Service, follow the Details link. It is also possible to delete Comments from the Details view. 
<br/><br/>
<%= image_tag("SS5.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section5">
<h3>Service Providers</h3> 
</a>

The Index view for Service Providers includes the Provider Name, Organization, City and State. 
<br/><br/>
By following the Details link, you can see associated Services, as well as complete contact information. 
<br/><br/>
To Edit a Resource, follow the Edit link on either the Index page or the Resource’s Details page. For more information on Editing, see Editing Resources. 
<br/><br/>
<a name = "section6">
<h2>Adding Resources </h2>
</a>
<a name = "section7">
<h3>Concerns</h3>
</a> Ask yourself – Is this a broad category that does not fit under any existing Concerns? Are there several relevant sub-categories that would logically fit under this title? 
<br/><br/>
Concerns are the broadest pieces of the Database. Concerns contain associated Categories. Concerns can only be created by following the Create Concern link. Concerns ask for a Name, which is required, and a description, which is not required. 
<br/><br/>
<%= image_tag("SS6.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section8">
<h3>Categories</h3>
</a>
Ask yourself – What existing Concern will this new Category fit under? Do I first need to add a larger Concern, so that this Category has a place in the database structure? 
<br/><br/>
Categories can only be created by following the Create Category link. Categories ask for a Name, which is required, and a description, which is not required. 
<br/><br/>
In order to view a Category from the Browse side of the database, it should be associated with at least one Concern. 
<br/><br/>
Categories may have multiple associated Services, which can be added when Categories are created, or added later. 
<br/><br/>
<%= image_tag("SS7.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section9">
<h4>Naming Conventions for Categories</h4>  If multiple Categories are being added for multiple diagnoses, but with similar titles, the convention is “Title, Diagnosis” i.e. Clinical Trials, Cancer so that when Categories are viewed alphabetically they are grouped by Category type and not by diagnosis. 
</a>
<br/><br/>
<a name = "section10">
<h3>Services </h3>
</a>
Ask yourself – Does the Service Provider for this Service already exist in the database? Does this Service fit into an existing Category, or should I first add a new Category? 
<br/><br/>
Services can be added individually using the Create Service link, but should only be done in that way if the associated Service Provider is already created.
<br/><br/>
More commonly, add Services from the Add Service Provider form. Associated Services can be added on the right side of the page, and additional Services can be added using the Add Additional Services link, below. 
<br/><br/>
Services need a Title, and it is recommended that they also include a more detailed Description as well. Service Titles and Descriptions are a major source of search terms, so please think about including any and all keywords that might help users locate a Service in either the Title or the Description. 
<br/><br/>
<%= image_tag("SS8.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section11">
<h3>Service Providers </h3>
</a>
Ask yourself – Are all the Categories that I will need when creating Services for this Service Provider already in the database? 
<br/><br/>
The form for adding Service Providers is the most complex and most useful form for adding new resources. The Service Provider form asks for several pieces of contact information for the Service Provider. Please fill in all of the important pieces of contact information for each Provider. Some items, such as Organization or Contact Name, will not make sense for each Provider that  in which case, please leave that form field blank. 
<br/><br/>
<%= image_tag("SS9.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section12">
<h4>Service Provider Grey Box</h4>
</a>
In the Service Provider form there is a light grey box containing the physical location of the Provider. These pieces of information directly affect the way that Service Providers and their associated Services are filtered and retrieved. If a Provider provides Services from a website or provides services remotely, nationally or internationally, leave the entire grey box blank, and leave the State at its’ default value: Online Only. 
<br/><br/>
If a Provider has an office in Beaverton, Oregon but provides Services all over the state, please select Oregon and leave the rest of the grey box blank. 
<br/><br/>
If a Provider provides Services ONLY out of their office, or only in a specific city or community, then fill out the rest of the address and city information in the grey box. 
<br/><br/>
The less information that is filled out in these fields, the wider the Provider’s scope of practice is considered to be, and the more searches it will appear in. 
<br/><br/>
<%= image_tag("SS10.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section13">
<h4>Adding Associated Services</h4>
</a>
When adding a Provider, you may choose to add any number of associated Services from within the Create Provider form. Associated Services are added on the right side of the screen, and are created in a mini version of the Create Service form. Associated Categories are added using a multi-select rather than a check-box, so when selecting Categories hold down the Ctrl (Windows) or Command (Mac) key to select multiple Categories. 
<br/><br/>
If you wish to add an additional Service, click the Add Another Service link at the bottom of the Associated Services form. It should generate another blank form below the first form. 
<br/><br/>
<%= image_tag("SS12.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section14">
<h2>Editing Resources</h2> 
</a>
Editing resources uses the same forms as creating new resources. When you select a resource to edit, the form will be pre-populated with the current data. You may edit the data and submit the form to save your changes. If you leave the form, or submit the data without changing anything, the resource will not be changed. 
<br/><br/>
<%= image_tag("SS13.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
When editing Service Providers, their associated Services will be generated, each in their own mini form, on the right side of the screen. Below each mini form, there is a check-box titled Remove Service, which you can use to select Services to be removed from the Provider and deleted. 	
<br/><br/>
When editing associated Services, remember to hold down the Ctrl (Windows) or Command (Mac) key when selecting additional Categories, to maintain the existing selected Categories. 
<br/><br/>
<%= image_tag("SS14.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section15">
<h2>Deleting Resources </h2>
</a>
The Delete link appears on the far right side of each Index page.  
<br/><br/>
After clicking the Delete link, there will be a pop-up to confirm deletion, to prevent accidents. 
<br/><br/>
Comments can be deleted from the Service Details page. 
<br/><br/>
Services may be deleted when editing Service Providers, by checking the Remove Service check box next to the intended Service. All associated Services will be deleted, when deleting a Service Provider. 
<br/><br/>
User Requests cannot be deleted by administrators from the Admin interface. See User Requests for more information. 
<br/><br/>
<%= image_tag("SS15.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section16">
<h2>Admin Accounts </h2>
</a>
User Accounts must be approved by an existing administrator before they are able to access the Admin Interface. Users will create an account by signing up with their email and password. 
<br/><br/>
The Admin Accounts link on the left side menu will take you to a list of users awaiting approval. Any administrator can choose to Delete or Approve a pending Admin account. Once an Admin account is approved, the new administrator will have access to the entire Admin interface, and be able to create, edit and delete resources, including users. 
<br/><br/>
Below the pending accounts is a list of existing Admins. Any admin can delete an existing account, except their own. This is to prevent the case where all accounts are deleted. 
<br/><br/>
<%= image_tag("SS20.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section17">
<h2>User Requests </h2>
</a>
Administrators are responsible for handling User Requests. 
<br/><br/>
Users can use the User Request form to contact the administrators and notify them of issues, suggestions or additional resources that could be added to the database. 
<br/><br/>
The User Request Index page can be found by following the User Requests tab on the left side menu. User Requests are in two categories; Open and Closed. 
<br/><br/>
<%= image_tag("SS16.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
Open Requests are those that need further action and are not resolved. As you, the admin, open and review Requests by following the Details link, please record any progress or additional information about the Request in the Notes field. You can add to the existing Note by typing after the existing text, or erase the existing Note and replace it with your own, by deleting the contents of the text box and starting over. 
<br/><br/>
<%= image_tag("SS17.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
Once you decide that a Request has been satisfactorily reviewed and any changes have been made, in the Details view, change the item Request Resolved? from false to true. 
<br/><br/>
Resolved Requests are stored in the Closed Requests page which can be accessed by following the link on the Open Requests page, or in the left side menu under User Requests. All Requests are saved, and are not able to be deleted, to keep a record of the User Requests through time. If a Closed Request is viewed using the Details tab, it is automatically considered to be re-opened, and will be moved to the Open Requests list. If you wish to keep a Closed Request closed after viewing the Details, manually change the Request Resolved? item back to true. 
<br/><br/>
<%= image_tag("SS18.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section18">
<h3>Types of Requests</h3> 
</a>
All Requests are sent to the same location in the Admin interface. The types of Requests are mostly used for organization and as a way to help users structure their own Requests. 
<br/><br/>
You can sort Requests by Type by clicking on the word Type in the User Requests Index page. 
<br/><br/>
<%= image_tag("SS19.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section19">
<h4>Comment/Suggestion</h4> 
</a>
Comments and Suggestions may be any message that a user has for the Admin team. Comments and suggestions should be dealt with on a case-by-case basis. 
<br/><br/>
<a name = "section20">
<h4>Bug Report</h4></a> Bug Reports are intended to be technical issues with the site itself. This may not always be the case, and Bug Reports, like Comments and Suggestions should be dealt with as they come up. 

<a name = "section21">
<h4>New Resources </h4>
</a>
New Resources Request are Requests in which a user is asking for a Resource to be added to the database. 
<br/><br/>
<a name = "section22">
<h5>For a New Concern</h5> 
</a>Add the new Concern.

If you identify any existing Categories, you can associate them when adding the new Concern. If you find the new Concern generates ideas for additional Categories, Services, etc. it would be helpful to add them as well. A well-populated new Concern is much more useful than an empty one.
<br/><br/>
<a name = "section23">
<h5>For a New Category </h5> </a>Add the new Category.

Identify which Concern the new Category will belong to. If you need to create a new Concern to hold the Category, consider doing so. Categories cannot be accessed when Browsing the database unless they belong to a Concern. The user may have suggested an appropriate parent Concern for the Category by using the Parent Resource field in the User Requests form. 
<br/><br/>
<a name = "section24">
<h5>For a New Service Provider </h5> </a> Add the new Service Provider and at least one associated Service. 

Hopefully the user provided enough information in the Request to add a new Service Provider and associated Services. If not, try using the information provided, such as the website, to research the Provider and record the appropriate information. 
<br/><br/>
<a name = "section25">
<h5>For a New Service </h5> </a>Users may request a new Service when they really mean to request a new Service Provider. When responding to a request for a new Service, ensure that the Service Provider already exists in the database. This information should be provided in the Parent Resource field. If the User is suggesting adding a new Service Provider, see For a New Service Provider or Adding Resources – Service Providers. 

<br/><br/>
Users are optionally able to provide their name and email address when submitting a User Request. When in doubt about the meaning or action requests by a User Request, try contacting the user directly.
<br/><br/>
<a name = "section26">
<h2>Comments </h2>
</a>
Comments can be left by users on specific Services. Users are asked to provide a name, as the Commenter, and a Comment. There is no method in place to restrict who may post Comments, or to verify the identity of the Commenter. 
<br/><br/>
Comments for a Service can be viewed using the Details link on the Services Index page. It is easy to see whether a Service has associated Comments, by looking at the number under Comments on the Index page. 
<br/><br/>
As an administrator, you can delete Comments at your discretion – if you deem the Comment to be providing invalid information, if the Comment is spamming or abusive, or If the Commenter asks that their Comment be removed in a User Request. As there is no way to verify whether the person making the User Request is the same person who made the Comment, it is important to use your best judgement in these cases. 
<br/><br/>
<%= image_tag("SS5.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section27">
<h2>Referrals 	</h2>
</a>
Users should click the Referral Made button when they refer a member to a resource, using the database. Referrals are associated with specific Services and the total number of referrals is displayed on the Services Index page, under Referrals. By clicking on the word Referrals, you can sort the list of Services by the number of Referrals made. 
<br/><br/>
<%= image_tag("SS4.jpg", :alt => "Admin Screenshot") %>
<br/><br/>
<a name = "section28">
<h2>SQL Based Backend </h2>
</a>
This database was built using PostgreSQL. The Admin interface was created using RESTful routes that access the database backend. As a result, the data contained within the database can be accessed and retrieved using SQL commands, to perform any actions (including any and all actions available in the Admin interface) or gather any data as required.  
<br/><br/>
It is also possible to create and approve new Admin accounts using a PostgreSQL interface, if ever there is a case where all administrators are locked out of the database. 
<br/><br/>
To access the PostgreSQL command line and execute SQL commands, contact the administrator of the Heroku application where this database is hosted for login information and instructions. 
<br/><br/>
<br/><br/>


