<%= render 'shared/browse_nav' %> 


<h1>Categories for <%= @concern.name %> </h1> 

<div id="sidebar" class="col-xs-2">
          <!-- sidebar content -->
		  <%= render 'shared/browse_side_category' %> 
		 
        </div>

			
<div class="container">
  <div class="row">

	<div class="col-xs-6" >
		
			 


	


				<table class="table table-hover">
					<tr> 
						<th>Category</th> 
					</tr> 
					

					<% for category in @concern.categories%> 

						<tr> 
							<td><%= link_to category.name, {:controller => "browse", :action => "service", :category => category.id, :concern => @concern.id} %>
							(<%= category.services.count %>)
							</td>
						</tr> 

					<% end %> 
				</table> 

