<%= render 'shared/browse_nav' %> 

<div id="main-container" class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
		  <%= render 'shared/browse_side_req' %> 
		 
        </div>
	<div id="main-content" class="col-xs-9">
	  <!--  main content -->

<%= form_tag ('/browse/search'), :method => 'get' do %>
	<p> 
		<%= text_field_tag :search, params[:search] %> 
		<%= submit_tag "Search" %>
	</p>

<% end %> 



	<table> 
		<% if @services %>
			<% for service in @services%> 

				<tr> 
					<td><%= link_to service.title, {:controller => "browse", :action => "servprovider", :service => service.id, :provider => service.provider_id} %>
					 -  <%= service.description %>			
					</td>
					
				</tr> 
				<tr> 
					<td>
					-----<%= service.provider.name %> - <%= service.provider.organization %> 
					<br/>
						<%= service.provider.city %>
					<br/><br/>
					</td>
				</tr> 
			
			<% end %> 
		<% end %>
			
	</table> 

<p>

<%= link_to 'Start Over', browse_concern_path %> 

</p>

		</div>
	</div>
</div>

