<%= render 'shared/browse_nav' %> 


<h1>Services for <%= @category.name %> </h1> 

<div id="sidebar" class="col-xs-2">
          <!-- sidebar content -->
		  <%= render 'shared/browse_side_service' %> 
		 
        </div>

			
<div class="container">
  <div class="row">

	<div class="col-xs-6" >
		
			 


	


		<table class="table table-hover">
		<tr> 
			<th>Service </th> 
			<th>Provider </th> 
			<th>City	</th> 
			<th>State	</th>
		</tr> 
		<% if @category.services %>
			<% for service in @category.services%> 

				<tr> 
					<td><%= link_to service.title, {:controller => "browse", :action => "servprovider", :service => service.id, :provider => service.provider_id, :category => @category.id, :concern => @concern.id} %>
					
					 <td><%= service.provider.name %></td>
				
					<td><%= service.provider.city %></td> 
					<td><%= service.provider.state %></td>
					
				</tr> 

			<% end %> 
		<% end %> 
			
	</table> 

