<%= render 'shared/browse_nav' %> 


<h1>View Provider Details </h1>

<div id="sidebar" class="col-xs-2">
          <!-- sidebar content -->
		  <%= render 'shared/browse_side_provider' %> 
		 
        </div>
<div class="container">
  <div class="row">

	<div class="col-xs-6" >


<h2> <%= @provider.name %>  </h2>
<p> 

	
</p>  

<p> 
	<strong>Organization:</strong> 
	<%= @provider.organization %> 
</p> 
<p> 
	<strong>Address: </strong>
	<%if @provider.state == "Online" %>
		<%= @provider.state %>
	<% else %> 		
		<%= @provider.address1 %>
		<%= @provider.address2 %> <br/>
		<%= @provider.city %>
		<%= @provider.state %>, 
		<%= @provider.zip %> <br/>
	<% end %>

	
</p> 
<p> 
	<strong>Website:</strong> 
	<%= link_to @provider.website, @provider.website %> 
</p> 

<p> 
	<strong>Contact Name:</strong> 
	<%= @provider.contact %> 
</p> 


<p> 
	<strong>Phone Number:</strong> 
	<%= @provider.phone %> 
</p> 
<%= render :partial => "referral" %>
<br/><br/>
<p> 
		<strong>All Associated Services:</strong> 
	<% for service in Service.all %> 
		<ul>
			<div>
				<% if service.provider_id == @provider.id %>
					<li>
						<%= service.title %><br/>
						<%= service.description %>
					</li>
				<% end %>
			</div>
		</ul>
	<% end %> 
</p>
<p>
</div>
	<div class="col-xs-4" >
<h4>Add a Comment </h4> 
<%= render 'comments/form' %> 
<br/>

<%= render @service.comments %> 


		</div>
	</div>
</div>
</div>