<%= render 'shared/browse_nav' %> 


<h1>Services for <%= @category.name %> </h1> 

<div id="sidebar" class="col-xs-2">
          <!-- sidebar content -->
		  <%= render 'shared/browse_side_service' %> 
		 
        </div>

			
<div class="container">
  <div class="row">

	<div class="col-xs-6" >

  <div class="dropdown pull-left">
			  <button class="btn btn-default " id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Filter by City or State
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				
				<% @states.sort_by{|s| s.state}.each do |s| %> 
					<li><%= link_to s.state, {:controller => "browse", :action => "service", :category => @category.id, :concern => @concern.id, :filter => s.state} %></li>
				<% end %>
				
				<li class="divider"></li>
				
				<% @cities.sort_by{|c| c.city}.each do |c| %> 
					<li><%= link_to c.city, {:controller => "browse", :action => "service", :category => @category.id, :concern => @concern.id, :filter => c.city} %></li>
	
				<% end %>

			  </ul>
		</div>
<br/><br/>

		<table class="table table-hover">
		<tr> 
			<th>Service </th> 
			<th>Provider </th> 
			<th>City	</th> 
			<th>State	</th>
		</tr> 
		<% if @services%>
			<% for service in @services%> 

				<tr> 
					<td><%= link_to service.title, {:controller => "browse", :action => "servprovider", :service => service.id, :provider => service.provider_id, :category => @category.id, :concern => @concern.id} %>
					
					 <td><%= service.provider.name %></td>
				
					<td><%= service.provider.city %></td> 
					<td><%= service.provider.state %></td>
					
				</tr> 

			<% end %> 
		<% end %> 
			
	</table> 

