<%= stylesheet_link_tag "style" %>

<h1>View Provider Details </h1>

<div class ="crumbs">

</br><strong> Area of Concern: </strong><%= @concern.name %> <%= link_to 'change', browse_concern_path %> 
</br><strong> Category: </strong> <%= @category.name %> <%= link_to 'change', {:controller => "browse", :action => "category", :concern => @concern.id} %>

</br><strong> Service: </strong><%= @service.title %> <%= link_to 'change', {:controller => "browse", :action => "service", :category => @category.id, :concern => @concern.id} %>

</br> 

</div>

<h2> <%= @provider.name %>  </h2>
<p> 

	
</p>  
<p> 
	<strong>Organization:</strong> 
	<%= @provider.organization %> 
</p> 
<p> 
	<strong>Address: </strong>
	<%if @provider.state == "Online" %>
		<%= @provider.state %>
	<% else %> 		
		<%= @provider.address1 %>
		<%= @provider.address2 %> <br/>
		<%= @provider.city %>
		<%= @provider.state %>, 
		<%= @provider.zip %> <br/>
	<% end %>

	
</p> 
<p> 
	<strong>Website:</strong> 
	<%= link_to @provider.website, @provider.website %> 
</p> 

<p> 
	<strong>Contact Name:</strong> 
	<%= @provider.contact %> 
</p> 


<p> 
	<strong>Phone Number:</strong> 
	<%= @provider.phone %> 
</p> 

<p> 
		<strong>Associated Services:</strong> 
	<% for service in Service.all %> 
		<ul>
			<div>
				<% if service.provider_id == @provider.id %>
					<li>
						<%= service.title %><br/>
						<%= service.description %>
					</li>
				<% end %>
			</div>
		</ul>
	<% end %> 
</p>
<p>

<h2>Comments for <%= @service.title %></h2>
<%= render @service.comments %> 

<h2>Add a Comment </h2> 

<%= form_for([@service, @service.comments.build]) do |f| %> 
<p> 
	<%= f.hidden_field :concern, :value => @concern.id%>
	<%= f.hidden_field :category, :value => @category%>
	<%= f.hidden_field :service, :value => @service %>
	<%= f.hidden_field :provider, :value => @provider%>
	<%= f.label :commenter %> </br> 
	<%= f.text_field :commenter %> 
</p>
<p>
		<%= f.label :body %> </br> 
	<%= f.text_area :body %> 
</p>
<%= f.submit %>
<% end %>
<%= link_to 'Start Over', browse_concern_path %> 

</p>