
	<%= form_for @category do |f| %> 

		<% if @category.errors.any? %> 
			<div id="error_explanation">
				<h2> 
					<%= pluralize(@category.errors.count, "error") %> prohibited this item from being saved: 
				</h2> 
				<ul> 
					<% @category.errors.full_messages.each do |msg| %> 
						<li> <%= msg %> </li> 
					<% end %> 
				</ul> 
			</div> 
		<%end%> 
		<div class="col-xs-5">
		<p> 
			<%= f.label :name %><br> 
			<%= f.text_field :name, :size => "50"%> 
		</p> 
		
		<p> 
			<%= f.label :description %><br> 
			<%= f.text_area :description, :size => "50"%> 
		</p> 
		
		<br/><br/>
			<%= f.submit 'Submit', :class => 'btn btn-default' %>
		</div> 
		<div class="col-xs-6"> 
		<p> 
		<label>Associated Concerns</label>
			<div class = "height_limit">
				
			
				<%= hidden_field_tag "category[category_ids][]", nil %>
				<% Concern.all.sort_by{|concern| concern.name}.each do |concern| %> 				
					<%= check_box_tag "category[concern_ids][]", concern.id, 
					@category.concerns.include?(concern), id: dom_id(concern)%>
					<%= label_tag dom_id(concern), concern.name%></br>
				
				<% end %> 
			</div> 
			<br/>
		</p>
		<label>Associated Services</label>
			<div class = "height_limit">
				
				<%= hidden_field_tag "category[service_ids][]", nil %>
				<% Service.all.sort_by{|service| service.title}.each do |service| %> 				
					<%= check_box_tag "category[service_ids][]", service.id, 
					@category.services.include?(service), id: dom_id(service) %>
					<%= label_tag dom_id(service), service.title %></br>
		
			<% end %> 
		 
			</div>
		</p>
		
		</div>	
		
	<% end %> 
