
<%= stylesheet_link_tag "style" %>
<body>
<h1>List of Categories</h1> 

<div class = "nav_bar">

<p> 
	<%= link_to 'New Category', new_category_path %> 
</p>
<p>
	<%= link_to 'Back to Admin Interface', root_path %>
</p>

</div>


<table> 
	<tr> 
		<th><%= link_to "Name", :sort => "name" %></th> 
		<th><%= link_to "Description", :sort => "description" %></th> 	
	</tr> 
	
	<% @categories.each do |category| %> 
		<tr> 
			<td><%= category.name %></td> 
			<td><%= category.description %></td> 
			<td><%= link_to 'Show', category_path(category) %></td>
			<td><%= link_to 'Edit', edit_category_path(category) %> </td> 
			<td><%= link_to 'Destroy', category_path(category), 
					method: :delete, 
					data: { confirm: 'Are you sure?' } %></td> 
		</tr> 
	<% end %> 
</table> 


</body>