<%= render 'shared/admin_nav' %> 

<div id="main-container" class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
		  <%= render 'shared/admin_side' %> 
		 
        </div>
	<div id="main-content" class="col-xs-9">
	  <!--  main content -->
<p> 
	<strong>Name:</strong> 
	<%= @category.name %> 
</p> 
<p> 
	<strong>Description:</strong> 
	<%= @category.description %> 
</p> 



<p> 
	<strong>Associated Areas of Concern:</strong> <br/>
	<% for c in @category.concerns %> 	
		<%= c.name %> 
		<br/>
	<%end%>
</p> 

<p> 
	<strong>Associated Services:</strong> <br/>
	<% for s in @category.services %> 	
		<%= s.title %> 
		<br/>
	<%end%>
</p> 


	<%= link_to 'Edit Category', edit_category_path, class: 'btn btn-default' %> 

		</div>
	</div> 
</div>