<%= stylesheet_link_tag "style" %>
<body>
<p> 
	<strong>Name:</strong> 
	<%= @category.name %> 
</p> 
<p> 
	<strong>Description:</strong> 
	<%= @category.description %> 
</p> 



<p> 
	<strong>Associated Areas of Concern:</strong> <br/>
	<% for c in @category.concerns %> 	
		<%= c.name %> 
		<br/>
	<%end%>
</p> 

<p> 
	<strong>Associated Services:</strong> <br/>
	<% for s in @category.services %> 	
		<%= s.title %> 
		<br/>
	<%end%>
</p> 

<%= link_to 'Back to List', categories_path %>
</body>