<h2>Users</h2>

<%= link_to "New User", new_admin_user_path %>

<table class="table">
  <thead>
    <th>Id</th>
    <th>Email</th>
    <th>Admin</th>
    <th></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? %></td>
        <td>
          <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-default btn-xs" %>
          <%= link_to "Delete", admin_user_path(user), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure you want to delete this user?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
